@model IEnumerable<Examen1_LeonardoMadrigal.Models.Notificaciones>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lista de Notificaciones</title>
</head>
<body>
    <h1>Lista de Notificaciones</h1>
    <!-- Botón para Crear Nueva Notificación -->
    <a href="@Url.Action("Create", "Notificacion")" class="create-button">Crear Nueva Notificación</a>
    <table>
        <thead>
            <tr>
                <th>Mensaje</th>
                <th>Fecha de Solicitud</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notificacion in Model)
            {
                <tr>
                    <td>@notificacion.Mensaje</td>
                    <td>@notificacion.FechaSolicitud.ToString("dd/MM/yyyy")</td>
                    <td>
                        <a href="@Url.Action("Edit", "Notificacion", new { id = notificacion.Id })">Editar</a>
                        <a href="@Url.Action("Delete", "Notificacion", new { id = notificacion.Id })">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
