@model Examen1_LeonardoMadrigal.Models.Prestamo

@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalles</title>
</head>
<body>

<div>
    <h4>Prestamo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Libro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Libro.Autor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstaReservado)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.EstaReservado, new { @class = "text", Value = Model.EstaReservado ? "Si" : "No" })
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
        @* <a asp-action="ExtenderPrestamo" asp-route-prestamoId="@Model?.Id" class="btn btn-primary">¿Te gustaría extender el tiempo?</a>| *@
    <a asp-controller="Admin" asp-action="Index">Volver</a>
</div>
</body>
</html>
