@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutPlantLib";
}

<div class="text-center">
    @if (ViewBag.UltimoLibro != null)
    {
        var ultimoLibro = ViewBag.UltimoLibro as Examen1_LeonardoMadrigal.Models.Libro;
        <section id="billboard">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main-slider pattern-overlay">
                            <div class="slider-item">
                                <div class="banner-content">
                                    <h2 class="banner-title">@ultimoLibro.Titulo</h2>
                                    <p>@ultimoLibro.Sinopsis</p>
                                    <div class="btn-wrap">
                                        <a href="@Url.Action("Details", "Home", new { id = ViewBag.UltimoLibro.Id })" class="btn btn-outline-accent btn-accent-arrow">
                                            Leer Más <i class="icon icon-ns-arrow-right"></i>
                                        </a>
                                    </div>
                                </div>
                                <img src="data:image/jpeg;base64,@Convert.ToBase64String(ultimoLibro.ImagenPortada)" alt="banner" class="banner-image" style="width: 200%; height: 400px; object-fit: contain;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }

    <section id="client-holder" data-aos="fade-up">
        <div class="container">
            <div class="row">
                <div class="inner-content">
                    <div class="logo-wrap">
                        <div class="grid">
                            <a href="#"><img src="~/PlantLib/images/client-image1.png" alt="client"></a>
                            <a href="#"><img src="~/PlantLib/images/client-image2.png" alt="client"></a>
                            <a href="#"><img src="~/PlantLib/images/client-image3.png" alt="client"></a>
                            <a href="#"><img src="~/PlantLib/images/client-image4.png" alt="client"></a>
                            <a href="#"><img src="~/PlantLib/images/client-image5.png" alt="client"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--TODOS LOS LIBROS-->
    <section id="featured-books" class="py-5 my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-header align-center">
                        <div class="title">
                            <span>Some quality items</span>
                        </div>
                        <h2 class="section-title">Libros Destacados</h2>
                    </div>
                    <div class="product-list" data-aos="fade-up">
                        <div class="row">
                            @foreach (var libro in Model)
                            {
                                <div class="col-md-3">
                                    <div class="product-item">
                                        <figure class="product-style">
                                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(libro.ImagenPortada)" alt="Books" class="product-item" style="width: 100%; height: 300px; object-fit: contain;">

                                            <!-- Botón para pedir el libro (manteniendo la animación al pasar el cursor) -->
                                            <button type="button" class="add-to-cart" >
                                                @* <a asp-controller="Prestamo" asp-action="Create" asp-route-libroId="@libro.Id" style="color: white">
                                                    Reservar
                                                </a> *@
                                                @* <a href="@Url.Action("Details", "Home", new { id = ViewBag.Id })" class="btn btn-outline-accent btn-accent-arrow"> *@
                                                    <button type="button" class="add-to-cart">
                                                        <a href="@Url.Action("Details", "Home", new { id = libro.Id })" class="btn btn-outline-accent btn-accent-arrow">
                                                            Leer Más <i class="icon icon-ns-arrow-right"></i>
                                                        </a>
                                                    </button>
                                                    @* Leer Más <i class="icon icon-ns-arrow-right"></i> *@
                                                @* </a> *@

                                            </button>
                                        </figure>
                                        <figcaption>
                                            <h3>@libro.Titulo</h3>
                                            <span>@libro.Autor</span>
                                            <div class="item-price">$ @libro.Precio</div>
                                            <div class="item-stock">Stock: <span class="stock-value">@libro.Stock</span></div>
                                        </figcaption>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>
            </div>
            <a href="@Url.Action("AllBooks", "Home")" class="btn btn-outline-accent btn-accent-arrow">
                Ver Todos Los Productos <i class="icon icon-ns-arrow-right"></i>
            </a>
        </div>
    </section>

    <!--Mejor Libro-->
    <section id="best-selling" class="leaf-pattern-overlay">
        <div class="corner-pattern-overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            @if (ViewBag.UltimoLibro != null)
                            {
                                var ultimoLibro = ViewBag.UltimoLibro as Examen1_LeonardoMadrigal.Models.Libro;
                                <figure class="products-thumb">
                                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(ultimoLibro.ImagenPortada)" alt="book" class="single-image">
                                </figure>
                            }
                        </div>
                        <div class="col-md-6">
                            @if (ViewBag.UltimoLibro != null)
                            {
                                var ultimoLibro = ViewBag.UltimoLibro as Examen1_LeonardoMadrigal.Models.Libro;
                                <div class="product-entry">
                                    <h2 class="section-title divider">Libro más vendido</h2>
                                    <div class="products-content">
                                        <div class="author-name">By @ultimoLibro.Autor</div>
                                        <h3 class="item-title">@ultimoLibro.Titulo</h3>
                                        <p>@ultimoLibro.Sinopsis</p>
                                        <div class="item-price">$ @ultimoLibro.Precio</div>
                                        <div class="btn-wrap">
                                            <a href="#" class="btn-accent-arrow">
                                                comprar ahora <i class="icon icon-ns-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Frase-->
    <section id="quotation" class="align-center pb-5 mb-5">
        <div class="inner-content">
            <h2 class="section-title divider">Cita del día</h2>
            <blockquote data-aos="fade-up">
                <q>“Cuanto más leas, más cosas sabrás. Cuanto más aprendas, a más lugares irás.”</q>
                <div class="author-name">Dr. Seuss</div>
            </blockquote>
        </div>
    </section>
</div>
